.dt-select {
  display: inline-block !important;
  margin-top: 10px;
  float: right;
}

.dt-pagination {
  display: inline-block !important;
}

.dt-filter {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
