/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f6b278;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3; 
    -webkit-box-shadow: inset 0 0 6px #f4a460; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}
